<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Extensions.Logging" />
  </extensions>

  <variable name="logLayout"
            value="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}${onexception:inner=|${exception:format=ToString}}" />

  <targets>
    <!-- 并发写入场景下避免与 keepFileOpen=true 组合导致句柄冲突；队列满时丢弃新日志以保护服务线程 -->
    <target xsi:type="AsyncWrapper" name="dwsAsync" queueLimit="50000" overflowAction="Discard" timeToSleepBetweenBatches="0" batchSize="200">
      <target xsi:type="File"
              name="dwsFile"
              fileName="${basedir}/logs/DWS/${shortdate}.log"
              archiveFileName="${basedir}/logs/DWS/archive/${shortdate}.{#####}.log"
              archiveAboveSize="10485760"
              archiveNumbering="Sequence"
              maxArchiveFiles="60"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8"
              layout="${var:logLayout}" />
    </target>

    <target xsi:type="AsyncWrapper" name="sorterAsync" queueLimit="50000" overflowAction="Discard" timeToSleepBetweenBatches="0" batchSize="200">
      <target xsi:type="File"
              name="sorterFile"
              fileName="${basedir}/logs/Sorter/${shortdate}.log"
              archiveFileName="${basedir}/logs/Sorter/archive/${shortdate}.{#####}.log"
              archiveAboveSize="10485760"
              archiveNumbering="Sequence"
              maxArchiveFiles="60"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8"
              layout="${var:logLayout}" />
    </target>

    <target xsi:type="AsyncWrapper" name="apiAsync" queueLimit="50000" overflowAction="Discard" timeToSleepBetweenBatches="0" batchSize="200">
      <target xsi:type="File"
              name="apiFile"
              fileName="${basedir}/logs/Api/${shortdate}.log"
              archiveFileName="${basedir}/logs/Api/archive/${shortdate}.{#####}.log"
              archiveAboveSize="10485760"
              archiveNumbering="Sequence"
              maxArchiveFiles="60"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8"
              layout="${var:logLayout}" />
    </target>

    <target xsi:type="AsyncWrapper" name="fusionAsync" queueLimit="50000" overflowAction="Discard" timeToSleepBetweenBatches="0" batchSize="200">
      <target xsi:type="File"
              name="fusionFile"
              fileName="${basedir}/logs/Fusion/${shortdate}.log"
              archiveFileName="${basedir}/logs/Fusion/archive/${shortdate}.{#####}.log"
              archiveAboveSize="10485760"
              archiveNumbering="Sequence"
              maxArchiveFiles="60"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8"
              layout="${var:logLayout}" />
    </target>

    <target xsi:type="AsyncWrapper" name="fallbackExceptionAsync" queueLimit="50000" overflowAction="Discard" timeToSleepBetweenBatches="0" batchSize="200">
      <target xsi:type="File"
              name="fallbackExceptionFile"
              fileName="${basedir}/logs/FallbackException/${shortdate}.log"
              archiveFileName="${basedir}/logs/FallbackException/archive/${shortdate}.{#####}.log"
              archiveAboveSize="10485760"
              archiveNumbering="Sequence"
              maxArchiveFiles="90"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8"
              layout="${var:logLayout}" />
    </target>
  </targets>

  <rules>
    <logger name="System.Net.Http.HttpClient.*" minlevel="Trace" maxlevel="Info" final="true" />
    <logger name="Microsoft.Extensions.Http.*" minlevel="Trace" maxlevel="Info" final="true" />

    <logger name="FjWorkerService1.Servers.Dws.*" minlevel="Trace" writeTo="dwsAsync" final="true" />
    <logger name="FjWorkerService1.Servers.Sorter.*" minlevel="Trace" writeTo="sorterAsync" final="true" />
    <logger name="FjWorkerService1.Servers.Wcs.*" minlevel="Trace" writeTo="apiAsync" final="true" />
    <logger name="FjWorkerService1.BackgroundServices.SortingServer" minlevel="Trace" maxlevel="Warn" writeTo="fusionAsync" final="true" />
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="fusionAsync" />
    <logger name="*" minlevel="Error" writeTo="fallbackExceptionAsync" />
  </rules>
</nlog>
